body {
  font-size: 10px;
  margin-top: 3rem;
  /*  change background: programatically */
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/435834/00.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh;
  font-family: 'saxMono';
  overflow: hidden;
}

.rounded {
  border-radius: 20px;
}

.well {
  transition: all 0.4s ease;
  background-color: rgba(0, 0, 0, 0.38);
  text-shadow: 1px 1px 2px #e1e0e8;
  border: none;
}
.well:hover {
  background-color: rgba(0, 0, 0, 0.58);
}

#app-title {
  margin: 0 auto;
  width: 700px;
  height: 290px;
  position: relative;
}

#app-title h1 {
  font-size: 6.3rem;
}

#app-details {
  position: fixed;
  bottom: 110px;
  left: 30px;
  width: 450px;
  height: 250px;
}

#app-details p {
  font-size: 3rem;
}

.social {
  position: fixed;
  bottom: 0px;
  /*left: 50vw;*/
  margin: 0 auto;
  display: inline-block;
  font-size: 1.5rem;
  width: 100vw;
}

.social ul {
  padding: 0;
  margin-bottom: 10px;
}

.social li {
  list-style: none;
  display: inline;
}

.social-images {
  width: 55px;
}
#units {
  font-style: italic;
  -webkit-transition: all duration timing-function delay;
  -moz-transition: all duration timing-function delay;
  transition: all duration timing-function delay;
  color: white;
  text-decoration: none;
}
#units:hover {
  text-shadow: 2px 2px 2px #e1e0e8;
  font-weight: bolder;
}